.product {
background-color: #162b2b;
color: white;
border-radius: 6px;
padding: 3rem;
margin: 3rem auto;
width: 90%;
max-width: 40rem;
}

.product p {
font-size: 2.5rem;
}



.product  .desription{
    text-align: right;
    margin-top:10px;
    margin-bottom:10px;
    color: #a0f1f19d;
    font-style: italic;
    font-size: 1.5rem;
}


.product  .price{
    text-align: right;
    color: #15e7e7;
    font-style: italic;
    font-size: 1.5rem;
}