.ui.items{
  margin: 1.5rem !important;
}

.ui.basic.negative.button, .ui.basic.negative.buttons .button, .ui[class*="right floated"].header{
  margin: 1.5rem;
}

.ui.image img, .ui.image svg{
  display: inherit !important;
}

.row-cart{
  margin-left: 0px !important;
  margin-top: 100px !important;
}