@media only screen and (max-width: 500px) {
    .signup h1{
        font-size: 30px !important;
    }
    .signup form {
        /* gap : 15px !important; */
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .signup p{
        font-size: medium !important;
        margin: 20px !important;
     }
     
}
small{
    width: 100%;
    color: red;
    font-size: 0.65rem !important;
}

.signup{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.signup h1{
   font-size: 3rem;
   margin-top: 10px;
   color: #000;
   font-weight: bold;
   padding: 15px 0px;
}

.signup form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

.css-b62m3t-container{
    width: 100%;
    margin-top: 1rem;
}

.select-error{
    width: 100%;
    margin-top: 1rem;
    border: 1px solid red;
    border-radius: 4px;
}

.form-input{
    width: 100%;
    padding: 5px;
    border: 2px solid #000;
    outline: none !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #000;
}

.error{
    width: 100%;
    padding: 5px;
    border: 2px solid red;
    outline: none !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 1rem;
    font-size: 0.85rem;
    color: red;
}

.signup form button {
    width: 100%;
    padding: 5px;
    border: 2px solid #000;
    outline: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.99rem;
    color: #000;
    background: #fff;
    cursor: pointer;
    transition: 0.3s linear;
}

.signup form button:hover{
    background: #000;
    color: #fff;
}
.signup p{
    margin-top: 10px;
    color: rgba(230, 12, 12, 0.728);
    font-size: 1.2rem;
 }

 .navigateTo{
    text-decoration: none;
    color:rgb(73, 31, 226);
    margin-top:20px;
    font-size: 0.85rem;
    font-weight: bold;
}