/* .home-side{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('https://www.europarl.europa.eu/resources/library/images/20160609PHT31661/20160609PHT31661_original.jpg');
    background-size: cover;
    background-position: center;
} */