*{
  padding: 0;
  margin: 0;
  /* font-family: sans-serif; */
}


.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin-top: 250px;
}

.page-not-found .not-found-title{
  color: rgba(168, 5, 5, 0.671);
  font-size: 5rem;
  font-weight: bold;
}